@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");
:root {
  --defaultFont: "Press Start 2P", cursive; }

body {
  display: none; }

body.enabled {
  /* HSL */ }
  body.enabled:first-child {
    display: unset; }
  body.enabled > * {
    display: none; }
  body.enabled #root {
    display: flex;
    flex-direction: row; }
    body.enabled #root #classSidebar {
      transition: all 500ms ease;
      display: flex;
      position: relative;
      flex-direction: column;
      min-height: 100vh;
      background-color: gray;
      align-items: center;
      justify-content: flex-start;
      font-size: 14pt;
      --width: 20rem;
      --hidden-width: 3rem;
      width: var(--width);
      min-width: var(--width); }
      body.enabled #root #classSidebar:not(:hover) {
        max-width: var(--hidden-width);
        min-width: var(--hidden-width);
        width: var(--hidden-width); }
      body.enabled #root #classSidebar #sideBarMovingArea {
        position: absolute;
        width: var(--width);
        right: 0px; }
        body.enabled #root #classSidebar #sideBarMovingArea #logoContainer {
          margin: 3rem;
          color: grey;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          border: grey 2px solid;
          padding: 5px 20px;
          padding-bottom: 10px;
          font-size: 30pt; }
        body.enabled #root #classSidebar #sideBarMovingArea .courseTab {
          width: 100%;
          font-size: 14pt;
          color: #fffbf0; }
          body.enabled #root #classSidebar #sideBarMovingArea .courseTab.current {
            background-color: #09a8c8; }
    body.enabled #root #courseContainer {
      display: flex;
      flex-grow: 1;
      flex-direction: column; }
      body.enabled #root #courseContainer #titleContainer {
        display: flex;
        flex-direction: row; }
        body.enabled #root #courseContainer #titleContainer #logoutButton {
          background-color: #98e1d9;
          flex-grow: 1;
          text-align: right;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 20pt;
          color: #fffbf0;
          padding: 1rem; }
        body.enabled #root #courseContainer #titleContainer #titleBar {
          min-width: 100px;
          min-height: 100px;
          background-color: #09a8c8;
          margin: 0;
          color: #fffbf0;
          text-align: left;
          padding: 5rem;
          font-weight: 700;
          flex-grow: 10; }
      body.enabled #root #courseContainer #mainArea {
        flex-grow: 1;
        display: flex; }
        body.enabled #root #courseContainer #mainArea #classMenu {
          display: flex;
          flex-direction: column;
          min-width: 12rem;
          background-color: lightgrey;
          padding-top: 1.5rem;
          padding-bottom: 1.5rem;
          padding-left: 1rem;
          flex: 1;
          max-width: 19rem; }
          body.enabled #root #courseContainer #mainArea #classMenu a {
            padding: 0.5rem 2rem;
            text-decoration: underline; }
        body.enabled #root #courseContainer #mainArea #contentArea {
          min-width: 100px;
          min-height: 100px;
          padding: 2rem;
          flex: 2.9;
          background-color: #fffbf0; }
  body.enabled #pageTitleHeader {
    display: none; }
  body.enabled #pageTitleBar img {
    display: none; }
  body.enabled .container {
    margin: 0 !important;
    width: 100% !important;
    max-width: unset !important;
    display: flex;
    flex-direction: column; }
    body.enabled .container > h2 {
      display: none;
      position: absolute; }
    body.enabled .container h3 {
      font-size: 1.92rem;
      margin: 0; }
      body.enabled .container h3 a {
        text-decoration: underline;
        color: #09a8c8 !important; }
    body.enabled .container .contentList li {
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-wrap: wrap;
      margin-bottom: 1.5rem;
      padding-bottom: 1rem;
      border-bottom: 1px lightgray solid;
      --icon-width: 3.6rem;
      --icon-padding: 1rem;
      --icon-space: calc(var(--icon-padding) + var(--icon-padding) + var(--icon-width)); }
      body.enabled .container .contentList li img {
        height: var(--icon-width);
        width: var(--icon-width);
        box-sizing: content-box;
        padding-left: var(--icon-padding);
        padding-right: var(--icon-padding); }
      body.enabled .container .contentList li .item {
        flex-grow: 1;
        min-width: 4px;
        width: calc(100% - var(--icon-space)); }
      body.enabled .container .contentList li .reorder.editmode.hideme {
        display: none; }
    body.enabled .container .column-2 {
      width: fit-content; }
    body.enabled .container .portlet {
      background: whitesmoke;
      padding: 1rem;
      width: fit-content;
      border-radius: 1.5rem;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
      margin: 1rem;
      position: relative;
      width: -webkit-fill-available;
      overflow: auto; }
      body.enabled .container .portlet .edit_controls {
        position: absolute;
        right: 2rem; }
      body.enabled .container .portlet h2 {
        margin-top: 0; }
      body.enabled .container .portlet .moduleControlWrapper {
        padding: 1rem;
        border-radius: 1rem; }
      body.enabled .container .portlet .collapsible {
        all: unset; }
    body.enabled .container .moduleActions {
      display: flex; }
    body.enabled .container img[src="/images/ci/ng/popup_mini.gif"] {
      display: none; }
    body.enabled .container .gradeTableNew {
      width: 100%; }
      body.enabled .container .gradeTableNew .grades_header {
        display: flex; }
      body.enabled .container .gradeTableNew #grades_wrapper {
        display: flex;
        flex-direction: column;
        width: 100%; }
        body.enabled .container .gradeTableNew #grades_wrapper .row {
          width: 100%;
          display: flex;
          justify-content: space-between; }
          body.enabled .container .gradeTableNew #grades_wrapper .row .cell.gradable {
            max-width: 45%;
            min-width: 45%; }
          body.enabled .container .gradeTableNew #grades_wrapper .row .cell.activity {
            max-width: 20%;
            min-width: 20%; }
          body.enabled .container .gradeTableNew #grades_wrapper .row .cell.grade {
            max-width: 25%;
            min-width: 25%; }
          body.enabled .container .gradeTableNew #grades_wrapper .row .cell.gradeStatus {
            max-width: 10%;
            min-width: 10%; }
  body.enabled [href="#actionMenu_0"], body.enabled [href="#actionMenu_1"] {
    display: none; }
  body.enabled .hideoff, body.enabled .hideme {
    display: none; }
  body.enabled .calPicker {
    display: none;
    position: fixed;
    z-index: 999999;
    left: 8rem !important;
    top: 10rem !important;
    background: whitesmoke;
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2); }
