// //div.containerPortal.clearfix {
//     background-color: #ba32ba !important;
// }



/* HSL */
$color1: hsla(193%, 39%, 21%, 1);
$color2: hsla(190%, 91%, 41%, 1);
$color3: hsla(173%, 55%, 74%, 1);
$color4: hsla(14%, 100%, 78%, 1);
$color5: hsla(46%, 100%, 97%, 1);

// pixel font
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

:root {
    --defaultFont: 'Press Start 2P', cursive;
}